@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-noto-sans-tc: 'Noto Sans TC', sans-serif;
  --font-jetbrains-mono: 'JetBrains Mono', monospace;

  --card: hsl(0 0% 100%);
  --ring: hsl(222.2 47.4% 11.2%);
  --input: hsl(214.3 31.8% 91.4%);
  --muted: hsl(210 40% 96.1%);
  --accent: hsl(210 40% 96.1%);
  --border: hsl(214.3 31.8% 91.4%);
  --chart-1: hsl(209 100% 60%);
  --chart-2: hsl(203 100% 50%);
  --chart-3: hsl(266 100% 60%);
  --chart-4: hsl(126 100% 60%);
  --chart-5: hsl(116 100% 60%);
  --popover: hsl(0 0% 100%);
  --primary: #63cc00;
  --sidebar: hsl(0 0% 100%);
  --secondary: hsl(210 40% 96.1%);
  --background: hsl(0 0% 100%);
  --foreground: hsl(0 0% 10%);
  --destructive: hsl(0 84.2% 60.2%);
  --sidebar-ring: hsl(222.2 47.4% 11.2%);
  --sidebar-accent: hsl(210 40% 96.1%);
  --sidebar-border: hsl(214.3 31.8% 91.4%);
  --card-foreground: hsl(0 0% 10%);
  --sidebar-primary: hsl(222.2 47.4% 11.2%);
  --muted-foreground: hsl(215.4 16.3% 46.9%);
  --accent-foreground: hsl(222.2 47.4% 11.2%);
  --popover-foreground: hsl(0 0% 10%);
  --primary-foreground: #ffffff;
  --sidebar-foreground: hsl(0 0% 10%);
  --secondary-foreground: hsl(222.2 47.4% 11.2%);
  --destructive-foreground: hsl(210 40% 98%);
  --sidebar-accent-foreground: hsl(222.2 47.4% 11.2%);
  --sidebar-primary-foreground: hsl(210 40% 98%);
  --radius: 0.5rem;
  --shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --text-lg: 1.125rem;
  --text-sm: 0.875rem;
  --text-xl: 1.25rem;
  --text-xs: 0.75rem;
  --text-2xl: 1.5rem;
  --text-3xl: 1.875rem;
  --text-4xl: 2.25rem;
  --text-5xl: 3rem;
  --font-body: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
  --font-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji'; 
  --radius-lg: 0.75rem;
  --radius-md: 0.5rem;
  --radius-sm: 0.375rem;
  --radius-xl: 1rem;
  --shadow-lg: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --shadow-md: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --shadow-sm: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  --shadow-xl: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
  --text-base: 1rem;
  --font-serif: ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif; 
  --shadow-2xl: 0 25px 50px -12px rgb(0 0 0 / 0.25);
  --font-heading: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji'; 
}

.dark {
  --card: hsl(0 0% 13%);
  --ring: hsl(212.7 26.8% 83.9%);
  --input: hsl(217.2 32.6% 17.5%);
  --muted: hsl(217.2 32.6% 17.5%);
  --accent: hsl(217.2 32.6% 17.5%);
  --border: hsl(217.2 32.6% 17.5%);
  --chart-1: hsl(263 70% 50%);
  --chart-2: hsl(166 70% 50%);
  --chart-3: hsl(60 70% 50%);
  --chart-4: hsl(313 70% 50%);
  --chart-5: hsl(6 70% 50%);
  --popover: hsl(0 0% 13%);
  --primary: #98FF3F;
  --sidebar: hsl(0 0% 13%);
  --secondary: hsl(217.2 32.6% 17.5%);
  --background: hsl(0 0% 10%);
  --foreground: hsl(0 0% 98%);
  --destructive: hsl(0 62.8% 30.6%);
  --sidebar-ring: hsl(212.7 26.8% 83.9%);
  --sidebar-accent: hsl(217.2 32.6% 17.5%);
  --sidebar-border: hsl(217.2 32.6% 17.5%);
  --card-foreground: hsl(0 0% 98%);
  --sidebar-primary: hsl(265 85% 60%);
  --muted-foreground: hsl(215 20.2% 65.1%);
  --accent-foreground: hsl(210 40% 98%);
  --popover-foreground: hsl(0 0% 98%);
  --primary-foreground: #020617;
  --sidebar-foreground: hsl(0 0% 98%);
  --secondary-foreground: hsl(210 40% 98%);
  --destructive-foreground: hsl(210 40% 98%);
  --sidebar-accent-foreground: hsl(0 0% 98%);
  --sidebar-primary-foreground: hsl(0 0% 100%);

}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-noto-sans-tc);
}

.font-mono {
  font-family: var(--font-jetbrains-mono);
}

::selection {
  background-color: #7df90b;
  color: #050817;
}
